<%= render partial: 'shared/header' %>

<%= render partial: 'user', locals: {user: @user} %>
<p>
  <%= @user.bio %>
</p>

<ul>
  <% @user_posts.each do |post| %>
    <%= render partial:'posts/post', locals:{post: post, comments: @comments}%>
  <% end %>
</ul>
<% unless @user_posts.count < 1 %>
<button>See all posts</button>
<% end %>
<%= link_to "See all post", user_posts_path(@user.id) %>