 
<li class="post">
  <%= link_to user_post_path(post.author.id, post.id) do %>
      <h3><%= post.title %></h3>
        <% end %>
      <p><%= post.text %></p>

      <div class="stats">
        <div>Comments: <%= post.comments_counter ? post.comments_counter : 0 %></div>
        <div>Likes: <%= post.likes_counter ? post.likes_counter : 0 %></div>
      </div>

      <ul class="comments">
        <% filtered_comments = comments.select{|a| a.post_id == post.id } %>
        <% filtered_comments.each do |comment| %>
              <li>
                <%= comment.author.name %>
                <%= comment.text %>
              </li>
            
        <% end %>
      </ul>
  </li>
