
<%= form_with model: Post.new, :url => {:action => :create, :controller => :posts}, class:"post-form" do |form| %>
  <h1>New post</h1>
  <div>
    <%= form.label :title%>
    <%= form.text_field :title %>
    
  <div>
  <div>
    <%= form.label :text %>
    <%= form.text_area :text %>
  <div>

  <%= form.submit "Save post", class:"btn" %>
  <% end %>