<%= render partial: 'shared/header' %>

<h2><%= @post.title %></h2> by <%= @user.name %> <br>
Comments: <%= @comments.count %>
Likes: <%= @likes.count %>
<p>
  <%= @post.text %>
</p>
<ul>
<% @comments.each do |comment| %>
 <li><%= comment.text %></li>
<% end %>
</ul>